[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "==2.1.*"
django-filter = ">=2.0.0"


[dev-packages]

pylint = "*"
sphinx = "*"
recommonmark = "*"
black = "*"
twine = "*"
pylint-django = "*"


[requires]
python_version = "3.6"
